// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$body-background: rgb(255, 239, 235);
$button-background: rgb(242, 95, 58);
$button-hover-background: rgb(246, 144, 119);
$comment-background: rgb(250, 250, 250);
$content-text-heading-background: rgb(255, 239, 235);
$content-text-heading-number-background: rgb(242, 95, 58);
$footer-background: rgb(29, 30, 37);
$menu-item-background: rgb(255, 255, 255);
$simplify-background: rgb(242, 95, 58);
$simplify-button-background: rgb(255, 255, 255);
$slider-button-background: rgb(242, 95, 58);
$slider-button-border: rgb(160, 32, 0);
$word-color-1: rgb(250, 250, 250);
$word-color-2: rgb(36, 45, 82);
$word-color-3: rgb(144, 149, 167);
$word-color-4: rgb(242, 95, 58);